body {
    font-family: 'Open Sans', sans-serif;
    border: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
}
h1{
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -.3px;
    color: white;
    margin-left: 60px;
}

h1 strong{
    color: greenyellow;
   
}

.header{
    display:flex;
    justify-content: space-between;
    height: 75px;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: black;
    
}

.menu { /* .menu hereda de .header */
    height: inherit;
  }
  

.logo{  
    
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
    margin: 0;
  }

.hero{
    height: 300px;
    background-color: #141519;
    background-image: url('https://imgurl.me/images/2020/05/31/imagen-portada2d91bdc88e5faed5c.jpg');
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    padding-top: 20px;
}

.portfolio{
    padding:20px;
}

h2{
    color:black;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.project{
    margin-bottom: 15px;
    border: solid gray 1px;
    border-radius: 25px;
    padding: 50px;
    display: flex;
    justify-content: space-around;


}

.project_details{
    width: 500px;
    
    
}

.project_imageContainer{
    width: 300px;
}

.project_image{
    width: 300px;
}

.event_image{
    width: 500px;
}

.footer{
display: flex;
justify-content: center;
align-items: center;
background-color: black;
height: 78px;
}

.footer p{
    color: white;

}

.footer_section{
    display: flex;
    justify-content: center;
    justify-items: center;

}

.footer_textDescription{
padding-top: 25px;
}

.footer_textYear{
    text-align: center;
    padding-bottom: 20px;
}