@font-face {
    font-family: 'icomoon';
    src:  url('../../fonts/icomoon.eot?tc7q2y');
    src:  url('../../fonts/icomoon.eot?tc7q2y#iefix') format('embedded-opentype'),
      url('../../fonts/icomoon.ttf?tc7q2y') format('truetype'),
      url('../../fonts/icomoon.woff?tc7q2y') format('woff'),
      url('../../fonts/icomoon.svg?tc7q2y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-menu:before {
    content: "\e9bd";
  }

body {
    font-family: 'Open Sans', sans-serif;
    border: 0;
    margin: 0;
    
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Titillium Web', sans-serif;
    font-weight: normal;
}
h1{
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -.3px;
    color: white;
    margin-left: 60px;
    padding-top: 23px;
}

h1 strong{
    color: greenyellow;
   
}

.header{
    display:flex;
    justify-content: space-between;
    height: 75px;
    flex-wrap: wrap;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: black;
    
}

.menu {
    height: inherit;
    padding-right: 10px;

  }
 
  .burger-button{
      display: none;
  }

.logo{  
    padding-left: 10px;
    padding-top: 13px;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
    margin: 0;
  }

.hero{
    background-color: #141519;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero img{
    object-fit: fill;
}

.portfolio{
    padding:1.2em;
}

h2{
    color:black;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 24px;
    padding-left: 20px;
}
h3{
    color:black;
    text-transform: uppercase;
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.project{
    margin-bottom: 15px;
    border: solid gray 1px;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.project_tittle,
.project_course{
    margin: 10px 0;
}

.project_tittle{
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 10px;
    
}

.project_details{
    margin: 20px;
}


.project_imageContainer{
    width: 50%;
    text-align: center;
}

.project_image{
    max-width: 100%;
}

.footer{
display: flex;
justify-content: center;
background-color: black;
height: 85px;
}
.footer p{
    color: white;

}

.footer_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: ;

}

.footer_textDescription{
font-size: 18px;
margin: 13px 0 0 0;
display: flex;
justify-content: center;
}

.footer_textYear{
    color: white;
    margin-top: 2px;
    display: flex;
    justify-content: center;

}

.event{
    border-radius: .9em;
    margin: .5em;
    width: 48%;
    overflow: hidden;
    background-color: #f0f0f0;
    flex-wrap: wrap;
    
}

.event img{
    flex-shrink: 0;
    height: 200px;
    width: 100%;
    object-fit: fill;
    
}

.event_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.event_imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.event_mainTittle{
    padding-left: 20px;
}

.event_details{
    margin: 20px;
    background-color: white;
    margin-top: -40px;
    position: relative;
    padding: 20px;
    text-align: center;
}
.event_description{
    text-align: left;
}
.event_url{
    border: 1px solid #0a97b0 ;
    border-radius: 9px;
    border-style: solid;
    padding: 4px;
    text-decoration: none;
    color: #0a97b0;
}

.contact{
    height: 150px;
    background-color: #fafafa;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_email input{
    border: 1px;
    border-radius: 5px;
    border-style: solid;
}

.form_email button{
    display: block;
}

.social{
    width: 320px;
    display: flex;
    justify-content: space-around;
}

.social_link{
    display: inline-block;
    height: 50px;
    width: 50px;
}

.social_link.facebook{
    background-image:url('https://imgurl.me/images/2020/06/02/facebook8bc0c9ae5812c3ed.png');

}
.social_link.linkedin{
    background-image:url('https://imgurl.me/images/2020/06/02/linkedin289720e8051a652c7.png');

}
.social_link.platzi{
    background-image:url('https://imgurl.me/images/2020/06/02/platzi52311fd1ba954104.png');

}
.social_link.github{
    background-image:url('https://imgurl.me/images/2020/06/02/github8ed2350cc73fb0a5.png');

}

.container{
    max-width: 1000px;
    flex:1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.youtube-video{
    width: 100%;
    height: auto;
}


@media screen and (max-width: 1024px){

    .burger-button{
        
        display: none;
    }


    .project_details h3{
        display: flex;
        justify-content: left;
    }

    .hero{
        position: relative;
        height: auto;
        overflow: hidden;
    }
    h1{
        font-size: 2em;
        z-index: 2;
        margin-left: .5em;
        margin-top: .5em;
    }
    .hero img{
        position: absolute;
        z-index: 1;
        width: 100%;

    }
}
@media screen and (max-width: 768px){

    .menu{
        position: fixed;
        z-index: 3;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.7);
        top: 0;
        left: -110vw;
    }
    .menu a {
        color:white;
    }
    .burger-button{
        width: 2em;
        height: 2em;
        color: white;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.7);
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 1em;
        position: fixed;
        z-index: 4;
        font-size: 1.25em;
        transition: 1s;
    }

    .menu.is-active{
        left: 0;
    }

    .header{
        display: block;
        height: auto;
    }
    .header ol{
        display: initial;
    }
    .header ol li{
        height: 40px;
    }
    .header a{
        justify-content: center;
    }
    .header .logo{
        text-align:center;
        width: auto;
    }
    .project {
        display: block;
        width: auto;
    }
    
    .project_details{
        font-size: 16px;
        justify-content: center;
        
    }
    .project_details h3{
        display: flex;
        justify-content: center;
    }
    .project_course{
        font-size: .7em;
    }
    .project_date{
        font-size: 1em;
    }
    .project_description{
        font-size: .8em;
        text-align: justify;
    }
    .project_course, .project_date, .project_tittle{
        margin: .3em;
    }
    .event{
        width:auto;
        flex-shrink: 1;
    }
    
}
@media screen and (max-width: 480px){

    .event_list p{
        font-size: .8rem;
    }

    .event_list h3{
        font-size: 1rem;
    }


    .portfolio h2{
        text-align: center;
    }

    .project_details h2{
        text-align: center;
        font-size: 1rem;
    }

    .project_details h3{
        text-align: center;
        font-size: 1rem;
    }

    .project p{
        font-size:.8rem;
    }

    .burger-button{
        
        font-size: 1rem;
    }


    .project_details{
        font-size: 12px;
    }
    
   .contact{
        height: auto;
        padding: 1em 0;
    }
    .event_imgage{
        width: 100%;
    }

    .footer{
        display: block;
        text-align: center;
    }
    .hero img{
        
    }
}
@media screen and (max-width: 320px){
    h1{
        font-size: 1.2em;
    }
}


@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,700);

html {
  font-size: 16px;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
  color: #444;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 55px 0 35px;
}

a {
  color: #ddd;
  text-transform: capitalize;
  font-size: 20px;
  &:hover {
    color: #ccc;
    text-decoration:none;
  }
}

.carousel-inner { margin: auto; width: 90%; }
.carousel-control 			 { width:  4%; }
.carousel-control.left,
.carousel-control.right {
  background-image:none;
}
 
.glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
  margin-top:-10px;
  margin-left: -10px;
  color: #444;
}

.carousel-inner {
  a {
    display:table-cell;
    height: 180px;
    width: 200px;
    vertical-align: middle;
  }
  img {
    max-height: 150px;
    margin: auto auto;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
  }

}
@media (min-width: 767px) and (max-width: 992px ) {
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
  }
}
@media (min-width: 992px ) {
  
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(16.7%, 0, 0);
      transform: translate3d(16.7%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-16.7%, 0, 0);
      transform: translate3d(-16.7%, 0, 0);
  }
  
}